.home-page{
    font-size: 20px;
}
.header{
    background-color: #D9D9D9;
    height: 70%;
    /* text-align: center; */
    display: grid;
    grid-template-columns: auto auto;
}
.header .title{
    margin: auto;

}
.name {
    font-family: raleway;
    font-size: 32px;
    line-height: 42.26px;
    text-align: left;
}
.name h1{
    font-family: raleway-light;
    color:#005F48;
    margin-bottom: 0;
}
.name span{
    color:#09846E;
}
.role{
    font-size: 24px;
}

.header >.portrait img{
    width: 326px;
    height: 472px;
}
.header >.portrait {
    margin: auto;

}
.home-page{
    height: 100vh;
    width: 100vw;
}

.content-header {
    display: grid;
    grid-template-columns: auto auto auto;
}

.content-header-wrapper {   
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}
.slash{
    width: 20px;
    margin-top: 20%;
}
.content-body {
    margin: 50px;
    
}
.content-body span{
    /* overflow: break-word; */
    padding: 2px;
}
.segment1{
    font-size: 20px;
    column-gap: 50px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
}
.content-body .title{
    text-decoration: underline;
    color: #005F48;
}
#red-span{
    color: #760000;
}

#gold-span{
    color: #B08A00;
}
.segment2-wrapper{
    text-align: left;
}
.segment2{
    display: grid;
    grid-template-areas:
        "a b c d e f g"
        "h i j k l m n";
}
.segment2 span{
    text-decoration: underline;
}
.segment2 .wrapper{
    text-align: center;
}
#font-thin{
    font-family: sf-compact-thin;
}
#font-bold{
    font-family: sf-compact-bold;
}
#gray-span{
    color: #707070;
}
.works{
    width: 100%;
}
.works #gold-line{ 
    background-color: #B59110;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin: auto auto auto 5px;
}
.dot{
    width: 7px;
    height: 7px;
    margin: 2px;
}
.divider {
    width: 50%;
    color: #B59110;
    text-decoration: underline ;
    display: flex;
    font-size: 25px;
    font-family: sf-compact-bold;
}
.work-note{
    margin-left: 50px;
}
.work-wrap{
    margin-top: 10px;
    width: 50%;
}
#timeline-row-wrap{
    height: 500px;
    overflow-y: hidden;
    transition: all 2s;
}
.timeline-collapse-button{
    text-align: left;
    background-color: transparent;
    border: none;
    font-size: 20px;
    text-decoration: underline;
    font-family: sf-compact-italic;
    width: fit-content;
    color: #B59110;
    cursor: pointer;
}
.scroll-down-button{
    display: grid;
    grid-template-columns: 80% auto;
    font-family: sf-compact-bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #848484;
    width: 200px;
    height: 40px;
    margin: auto 0 auto auto;
    padding: 5px 0 0 0;
    border-radius: 20px;
    /* text-align: center; */
    /* margin-right: 0; */
}
#down-pointer{
    height: 20px;
    width: 20px;
    /* margin-left: 0; */
    margin-top: 10px;
    text-align: left;
    /* padding-top: 10px; */
    /* padding: 10px; */
}