.navbar-container{
    /* position: absolute; */
    /* margin-top: 25px;     */
    display: grid;
    width: 100vw;
    grid-template-columns: auto auto auto;
    /* font-size: 15px; */
    font-family: sf-compact-bold;
    /* margin-top: 10px; */
    background-color: #D9D9D9;
}
.navbar{
    background-color: #09846E;
    /* margin-top: 25px; */
    height: 45px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: calc(calc(100%) * 0.3125) auto auto auto;
    width: 80%;
    margin: 26px auto;
    /* text-align: left; */
    /* padding: 10px; */
}
.navbar a {
    margin: auto;
    color: white;
    /* font-weight: 200; */
}
.navbar input{
    /* margin: auto 10px auto auto; */
    margin: auto 9px;
    border-radius: 22px;
    height: 25px;
}
#logo{
    background-color: #303030;
    border: none;
    padding: 2px 10px 2px 10px;
    border-radius: 20px;
    margin-left: 9px;
    height: 28px;
}
#logo-svg{
    height: 28px;
    margin: 3px 0 0 0;
    text-align: center;
}