html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: sf-compact;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'sf-compact';
  src: local('sf-compact'), url('./fonts/SF-Compact-Text-Regular.ttf');
}
@font-face {
  font-family: 'sf-compact-bold';
  src: local('sf-compact-bold'), url('./fonts/SF-Compact-Text-Medium.ttf');
}
@font-face {
  font-family: 'sf-compact-thin';
  src: local('sf-compact-thin'), url('./fonts/SF-Compact-Display-Thin.ttf');
}
@font-face {
  font-family: 'raleway';
  src: local('raleway'), url('./fonts/Raleway-Medium.ttf');
}
@font-face {
  font-family: 'raleway-light';
  src: local('raleway-light'), url('./fonts/Raleway-Light.ttf');
}
@font-face {
  font-family: 'sf-compact-italic';
  src: local('sf-compact-italic'),url('./fonts/Raleway-MediumItalic.ttf');
}
::-webkit-scrollbar {
  display: none;
}